
html, body {
  @apply h-full;
  @apply overflow-hidden;
}

* {
  margin: 0;
  padding: 0;
}

@mixin btn-tw($bg, $color, $hover-bg, $hover-color) {
  @apply cursor-pointer;
  @apply #{$bg};
  @apply #{$color};
  transition: .2s;
  &:hover:not([disabled]) {
    @apply #{$hover-bg};
    @apply #{$hover-color};
  }
  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}
.btn-main {
  @include btn-tw(#{'bg-main-400'}, #{'text-white'}, #{'bg-opacity-70'}, #{'text-white'});
}

.border-main {
  @apply border;
  @apply border-solid;
  @apply border-gray-100;
}
